.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/*============ End Existing CSS =============*/
.main-container {
  width: 1400px;
  height: 650px;
  border: 1px solid red;
  overflow: hidden;
}


.handle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 50px;
  width: 100%;
  background: lightgrey;
  cursor: grab;
}

.handle:active {
  cursor: grabbing;
}

.phone {
  border: 1px solid grey;
  border-radius: 25px;
  width: 200px;
  height: 300px;
  /* transition: 0.2s; */
}

.docked {
  transition: 0.5s;
}
