.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/*============ End Existing CSS =============*/


/*=================draggable================*/
.main-container {
  /* width: 98%;
  height: 80%; */
  width: 1380px;
  height: 630px;
  border: 1px solid red;
  overflow: hidden;
  transition: 0.5s;
}

.main-width {
  width: 74%;
  transition: 0.5s;
}

.main-height {
  /* height: 75%; */
  height: 325px;
  transition: 0.5s;
}


.handle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 50px;
  width: 100%;
  background: lightgrey;
  cursor: grab;
}

.handle:active {
  cursor: grabbing;
}

.phone {
  border: 1px solid grey;
  border-radius: 25px;
  width: 200px;
  height: 300px;
  /* transition: 0.2s; */
}

.docked {
  transition: 0.5s;
}

/*=================End draggable================*/



/* ============Bottom Panel CSS ====================*/

.bottom-panel {
  position: fixed;
  bottom: 0;
  border-top: 1px solid lightgrey;
  width: 100%;
  height: 50px;
  transition: 0.5s;
}

.open {
  height: 45vh;
  transition: 0.5s;
}

.bottom-menu {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid lightgrey;
  height: 50px;
  width: 100%;
}

.bottom-menu-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-top: 5px;
  width: 20%;
  margin-left: 40%;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

.bottom-menu-center:hover {
  background-color: rgb(240,240,240);
}

.bottom-menu-center p {
  margin: 0;
}

/* ============End Bottom Panel CSS ====================*/



/* ============Side Panel CSS ====================*/

.side-panel {
  position: fixed;
  top: 90px;
  right: 0;
  height: 800px;
  width: 25px;
  background-color: white;
  z-index: 2;
  border-left: 1px solid lightgrey;
  transition: 0.5s;
}

.side-open {
  width: 25%;
  transition: 0.5s;
}

.toggle-side-panel {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 50px;
}

.sidebar-content {
  margin: 0 30px;
  width: 280px;
}
